<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule</title>
    <link rel="icon" href="/images/title-logo.png" sizes="32x32">
</head>
<body>
<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <button class="mdl-layout-icon mdl-button mdl-js-button mdl-button--icon" onclick="history.go(-1);">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Schedule</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <!--drawer-->
    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--8-col">
                    <div class="mdui-table-fluid">
                        <!--                        time table goes here-->
                        <table class="mdui-table" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Challenge</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0;i < 7;i++){ %>
                            <tr>
                                <td><%- cresult.name[i] %></td>
                                <td><%- cresult.date[i] %></td>
                                <td><%- cresult.start[i] %></td>
                                <td><%- cresult.end[i] %></td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>

        </div>
    </main>
    <footer class="mdl-mini-footer" >
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo"><a href="/privacy">Privacy & Terms</a></div>
        </div>
    </footer>
</div>
</body>
</html>